<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="EPiServerDB" 
        connectionString="Data Source=DESKTOP-5KDUH9F;Initial Catalog=cms-20-test;User ID=nackademin-user;Password=Sommar21;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <!--<add name="EPiServerDB"
				connectionString="Data Source=DESKTOP-SG0I85N\MSSQLSERVERDEV;Initial Catalog=cms-20-test;User ID=nackademin-user;Password=Sommar21;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True"
				xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
		<!--DESKTOP-SG0I85N\MSSQLSERVERDEV-->
	</connectionStrings>
	<episerver.find serviceUrl="https://demo02.find.episerver.net/e6etrb0LZ9ZosfSNMKbKtqixK1L8BV4G/" defaultIndex="carl.schele_nackademintestdemo" xdt:Transform="Replace"/>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>