.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

h1 {
    text-transform: uppercase;
}

.nackademin-blue {
    background-color: #445768;
}

.nackademin-orange {
    background-color: #EF9047;
}